@charset "UTF-8";
/* NOTE: THIS IS AN UNCOMPILED SASS FILE. */
/*
ברוך הבא ל-CSS מותאם אישית!

כדי ללמוד כיצד זה עובד, כדאי לבקר בכתובת
http://wp.me/PEmnE-Bt
*/
/* Main Variables */
/* Imports */
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
body, button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus, input, select, textarea, .post-password-form label, .main-navigation, .post-navigation, .post-navigation .post-title, .pagination, .image-navigation, .comment-navigation, .site .skip-link, .logged-in .site .skip-link, .widget .widget-title, .widget_recent_entries .post-date, .widget_rss .rss-date, .widget_rss cite, .tagcloud a, .site-title, .entry-title, .entry-footer, .sticky-post, .page-title, .page-links, .comments-title, .comment-reply-title, .comment-metadata, .pingback .edit-link, .comment-reply-link, .comment-form label, .no-comments, .required, .site-footer .site-title, .site-footer .site-title:after, .widecolumn label, .widecolumn .mu_register label {
  font-family: 'Open Sans Hebrew', sans-serif !important; }

.entry-content {
  /* Sponsorship Content */ }
  .entry-content ul {
    list-style-position: inside; }
  .entry-content .sponsorship-pricetag {
    font-size: 0.8em;
    color: #59b0cc;
    font-weight: 500; }

/* Helpers */
.wc-text-hide, .site-branding .site-title a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

a.button {
  display: block;
  text-align: center;
  padding: 0.5em 0;
  border: none;
  box-shadow: none;
  background: #59b0cc;
  color: #fff;
  text-shadow: 0 -1px 1px #3F8CB1,-1px 0 1px #006799,0 1px 1px #62B4DC,1px 0 1px #006799;
  box-shadow: 0 1px 0 #006799;
  font-size: 1.4em;
  transition: all 0.4s ease;
  border-radius: 3px;
  /* Waze Button */ }
  a.button.button-no-radius {
    border-radius: 0; }
  a.button:hover {
    background: #2398BD; }
  a.button:focus, a.button:active {
    background: #027498;
    outline: none; }
  a.button.button-waze:before {
    content: '';
    width: 35px;
    height: 19px;
    background: url(https://israel.wordcamp.org/2016/files/2016/01/icon3.png);
    display: inline-block;
    background-size: contain;
    margin-left: 8px;
    position: relative;
    top: 3px;
    background-repeat: no-repeat; }
  a.button.button-red {
    background: #ff1654;
    text-shadow: none; }
    a.button.button-red:hover {
      background: #e9003e; }
    a.button.button-red:focus {
      background: #ab012e; }

/* More buttons and inputs */
button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus {
  font-weight: 100;
  background: #59b0cc; }
  button:hover, button[disabled]:hover:hover, button[disabled]:focus:hover, input[type="button"]:hover, input[type="button"][disabled]:hover:hover, input[type="button"][disabled]:focus:hover, input[type="reset"]:hover, input[type="reset"][disabled]:hover:hover, input[type="reset"][disabled]:focus:hover, input[type="submit"]:hover, input[type="submit"][disabled]:hover:hover, input[type="submit"][disabled]:focus:hover {
    background: #2398BD; }
  button:focus, button[disabled]:hover:focus, button[disabled]:focus:focus, input[type="button"]:focus, input[type="button"][disabled]:hover:focus, input[type="button"][disabled]:focus:focus, input[type="reset"]:focus, input[type="reset"][disabled]:hover:focus, input[type="reset"][disabled]:focus:focus, input[type="submit"]:focus, input[type="submit"][disabled]:hover:focus, input[type="submit"][disabled]:focus:focus {
    background: #027498; }

input[name=email]:focus {
  direction: ltr; }

.home {
  /* <https://jsfiddle.net/joshnh/ZP2En/> */ }
  .home #post-152 {
    display: inline-block;
    background: #FDFDDF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    /* width: 492px; */
    background-image: -webkit-radial-gradient(#FEFEFE 21%, transparent 21%), -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 21%, transparent 26%), -webkit-linear-gradient(top, transparent 0%, transparent 95%, rgba(96, 159, 159, 0.1) 95%, rgba(96, 159, 159, 0.1) 100%);
    background-image: -moz-radial-gradient(#e6e6e6 21%, transparent 21%), -moz-radial-gradient(#e6e6e6 10%, transparent 12%), -moz-linear-gradient(top, transparent 0%, transparent 95%, rgba(96, 159, 159, 0.1) 95%, rgba(96, 159, 159, 0.1) 100%);
    background-image: radial-gradient(#e6e6e6 21%, transparent 21%), radial-gradient(#e6e6e6 10%, transparent 12%), linear-gradient(top, transparent 0%, transparent 95%, rgba(96, 159, 159, 0.1) 95%, rgba(96, 159, 159, 0.1) 100%);
    background-position: 6px 6px, 6px 5px, 50% 18px;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 48px 48px, 48px 48px, 24px 24px;
    padding: 48px 24px 24px 84px; }
  .home #post-152:after {
    border-left: 1px solid rgba(223, 32, 32, 0.2);
    border-right: 1px solid rgba(223, 32, 32, 0.2);
    bottom: 0;
    content: '';
    left: 58px;
    position: absolute;
    top: 0;
    width: 2px;
    /* clear: both !important; */ }
  .home #post-152:before {
    bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    content: '';
    height: 100px;
    max-width: 300px;
    position: absolute;
    right: 5px;
    width: 300px;
    z-index: -10;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

/* English-related rules */
.post.category-english {
  direction: ltr; }

/* Become Sponsor Page */
body.page-slug-become-a-sponsor .entry-content .wp-caption.wcil-sponsor-caption {
  position: relative;
  overflow: hidden; }
  body.page-slug-become-a-sponsor .entry-content .wp-caption.wcil-sponsor-caption img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); }
  body.page-slug-become-a-sponsor .entry-content .wp-caption.wcil-sponsor-caption:before {
    content: '';
    width: 100%;
    height: 240px;
    background: linear-gradient(rgba(8, 1, 1, 0), rgba(255, 0, 0, 0.35));
    position: absolute;
    bottom: 28px;
    z-index: 1; }

/* Tickets Page */
@keyframes bgblink {
  from {
    background-color: #FAFAE6; }
  50% {
    background-color: #fff; }
  to {
    background-color: #FDFDDF; } }

.tix_tickets_table th.tix-column-description {
  width: 70%; }

/* highlight premium tickets */
tr.tix-ticket-266 {
  background: #FDFDDF;
  -webkit-animation: bgblink 3s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */ }

#tix input[type="submit"] {
  float: left !important; }

.tix-submit {
  text-align: left; }

/* English Page */
body.page-slug-english {
  /* Hide from Main Menu pages that are not in English */ }
  body.page-slug-english div#primary {
    direction: ltr !important; }
  body.page-slug-english ul.primary-menu li:not(.page-english) {
    display: none; }
  body.page-slug-english ul.primary-menu li.page-english {
    float: left; }

body:not(.page-slug-english) ul.primary-menu li.page-english {
  display: none; }

@media screen and (min-width: 1450px) {
  div#page {
    max-width: 1330px;
    margin: 0 auto !important; } }

/* Homepage */
@media screen and (max-width: 44.375em) {
  .site-branding {
    width: 70%;
    margin-top: 0; }
    .site-branding .site-title a {
      width: 100% !important; }
  button#menu-toggle {
    width: 40px;
    padding: 13px 5px;
    line-height: 0.2; }
    button#menu-toggle:before {
      content: "\f0c9";
      font-family: FontAwesome;
      color: #fff;
      text-align: center;
      /* margin: 0 auto; */
      display: inline-block; }
  .site-header-menu.toggled-on, .no-js .site-header-menu {
    z-index: 99; }
  .site-header-menu #menu-main {
    background: rgba(45, 106, 125, 0.92); }
    .site-header-menu #menu-main > li > a {
      padding-right: 1em;
      padding-left: 1em; }
  #page header#masthead {
    height: 472px; }
  section#text-3 {
    top: 130px  !important; }
    section#text-3 .c2a-box {
      display: inline-block;
      padding: 0;
      width: 49%;
      padding: 0 !important;
      margin: 0; }
      section#text-3 .c2a-box a {
        width: 100%;
        padding: 24px 10%; }
      section#text-3 .c2a-box .c2a-icon {
        /* float: right; */
        display: inline-block;
        min-width: 20%; }
        section#text-3 .c2a-box .c2a-icon .icon {
          font-size: 40px; }
      section#text-3 .c2a-box h3 {
        display: block;
        font-size: 1.5em !important;
        white-space: nowrap; }
  /* Tickets page */
  .tix_tickets_table th.tix-column-description {
    width: 50%; } }

@media screen and (max-width: 450px) {
  .site-branding {
    width: 70%;
    margin-top: 0; }
    .site-branding .site-title a {
      width: 100% !important;
      background-size: contain !important; }
  .site-header-main #menu-toggle {
    margin-top: -25px; } }

/* Main Styling */
.site-inner {
  max-width: 100%;
  position: relative; }

.site-content {
  padding-top: 2em; }

header#masthead {
  background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(https://israel.wordcamp.org/2016/files/2016/01/Artboard-2.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  height: 548px; }

/* Customizations */
body {
  /* Default for inner pages */ }
  body:not(.home) header#masthead {
    background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(//israel.wordcamp.org/2016/files/2016/01/8831692090_83edfbca2b_o-e1453952126144.jpg) no-repeat; }
  body.page-slug-become-a-sponsor header#masthead {
    background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(//israel.wordcamp.org/2016/files/2016/01/23801765790_6c4874bc4f_k.jpg) no-repeat; }
  body.page-slug-tickets header#masthead {
    background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(//israel.wordcamp.org/2016/files/2016/01/5594957160_235655ae5b_o-copy-1.jpg) no-repeat; }
  body.page-slug-organizers header#masthead {
    background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(//israel.wordcamp.org/2016/files/2016/01/7715958400_1e9e33f113_o-copy.jpg) no-repeat; }
  body.page-slug-schedule header#masthead {
    background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(//israel.wordcamp.org/2016/files/2016/01/5594942746_697c8385b2_o-copy.jpg) no-repeat; }
  body.page-slug-contributor-workshop header#masthead {
    background: linear-gradient(rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6)), url(//israel.wordcamp.org/2016/files/2016/02/24071356846_22c3b1b8c9_k-copy-contributors.jpg) no-repeat; }

.site-branding .site-title a {
  background: url(https://israel.wordcamp.org/2016/files/2016/01/logo-custom-light.png) no-repeat;
  width: 400px;
  display: block;
  height: 70px;
  background-size: cover; }

.site-branding .site-description {
  color: #fff;
  float: left;
  margin-left: 9px; }

.site-header-menu .main-navigation a {
  color: #1a1a1a; }

.site-header-menu .main-navigation .primary-menu > li > a {
  color: #fff; }

.site-header-menu .main-navigation li:hover > a,
.site-header-menu .main-navigation .current-menu-item > a {
  background: rgba(216, 104, 114, 0.8);
  color: #fff; }

ul#menu-main {
  background: rgba(89, 176, 204, 0.79); }

/* Sidebar */
.sidebar .widget {
  /* social */ }
  .sidebar .widget.jetpack_subscription_widget {
    background: #EFEFEF;
    padding: 1em;
    border-top: 4px solid #C8C8C8;
    text-align: center; }
    .sidebar .widget.jetpack_subscription_widget:before {
      content: "\f14a";
      font-family: FontAwesome;
      display: block;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      margin: 0 auto;
      width: 32px; }
    .sidebar .widget.jetpack_subscription_widget #subscribe-email {
      margin-bottom: 1em; }
    .sidebar .widget.jetpack_subscription_widget #jetpack-subscribe-label {
      display: none; }
    .sidebar .widget.jetpack_subscription_widget input[type=submit] {
      width: 100%; }
  .sidebar .widget.widget_wpcom_social_media_icons_widget {
    text-align: center; }
    .sidebar .widget.widget_wpcom_social_media_icons_widget li {
      display: inline-block;
      float: none !important;
      margin: 0 10px; }
      .sidebar .widget.widget_wpcom_social_media_icons_widget li a {
        border: none;
        font-size: 40px; }
        .sidebar .widget.widget_wpcom_social_media_icons_widget li a.genericon-facebook {
          color: #3b5998; }
        .sidebar .widget.widget_wpcom_social_media_icons_widget li a.genericon-twitter {
          color: #55acee; }

/* Center all elements within */
.call-to-action-boxes {
  text-align: center; }

.call-to-action-boxes .c2a-box {
  display: inline-block;
  min-width: 24%;
  padding: 0 0.5%;
  text-align: center;
  /* Just color the first one, as if it was featured. */ }
  .call-to-action-boxes .c2a-box.c2a-box-featured a {
    transition: all .4s ease;
    color: #F3DC45;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);
    /* shine like a diamond! */ }
    .call-to-action-boxes .c2a-box.c2a-box-featured a:hover {
      text-shadow: 10px 5px 40px #ffe001; }
  .call-to-action-boxes .c2a-box a {
    display: inline-block;
    color: #fff;
    box-shadow: none;
    font-family: 'Open Sans Hebrew', sans-serif;
    /* social networks, plus sign */ }
    .call-to-action-boxes .c2a-box a img {
      display: inline; }
    .call-to-action-boxes .c2a-box a h3 {
      font-size: 2em;
      margin: 10px;
      font-weight: 100; }
    .call-to-action-boxes .c2a-box a .icon {
      font-size: 80px; }
    .call-to-action-boxes .c2a-box a .icon-plus-sign {
      font-size: 24px;
      position: relative;
      top: -12px;
      left: -6px; }

section#text-3 {
  position: absolute;
  top: 342px;
  right: 0;
  width: 100%;
  min-height: 200px;
  background: rgba(89, 176, 204, 0.82);
  color: #fff;
  /* padding: 4.5455%; */
  padding: 35px 0px;
  border-top: 0;
  box-shadow: 0 2px 0 0 rgba(30, 82, 97, 0.59), 0 3px 0 0 rgba(173, 173, 173, 0.59); }

/* [Page] Organizers Page */
.wcorg-organizers .wcorg-organizer {
  width: 45%;
  float: right;
  padding-left: 2.5%; }
  .wcorg-organizers .wcorg-organizer:nth-child(odd) {
    clear: both; }
  .wcorg-organizers .wcorg-organizer .wcorg-organizer-description p {
    margin-top: 1.5em; }

/*# sourceMappingURL=style.css.map */
