/* NOTE: THIS IS AN UNCOMPILED SASS FILE. */
/*
ברוך הבא ל-CSS מותאם אישית!

כדי ללמוד כיצד זה עובד, כדאי לבקר בכתובת
http://wp.me/PEmnE-Bt
*/

/* Main Variables */
$button-background-color: #59b0cc;
$button-background-color-hover: #2398BD;
$button-background-color-active: #027498;
$button-text-color: #fff;

@import "inc/fonts";
@import "inc/typography";
@import "inc/helpers";
@import "inc/ui";
@import "inc/animate";
@import "inc/forms";
@import "inc/specifics";
@import "inc/responsive";

/* Main Styling */
.site-inner {
	max-width: 100%;
	position: relative;
}

.site-content {
	padding-top: 2em;
}

$consistent-background-masthead: linear-gradient( rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6) );

header#masthead {
	background: $consistent-background-masthead, url(https://israel.wordcamp.org/2016/files/2016/01/Artboard-2.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	height: 548px;
}

/* Customizations */
$pages: (
	become-a-sponsor: url(//israel.wordcamp.org/2016/files/2016/01/23801765790_6c4874bc4f_k.jpg),
	tickets: url(//israel.wordcamp.org/2016/files/2016/01/5594957160_235655ae5b_o-copy-1.jpg),
	organizers: url(//israel.wordcamp.org/2016/files/2016/01/7715958400_1e9e33f113_o-copy.jpg),
	schedule: url(//israel.wordcamp.org/2016/files/2016/01/5594942746_697c8385b2_o-copy.jpg)
);


body {
	/* Default for inner pages */
	&:not(.home) header#masthead {
		background: $consistent-background-masthead, url(//israel.wordcamp.org/2016/files/2016/01/8831692090_83edfbca2b_o-e1453952126144.jpg) no-repeat;
	}

	@each $profile, $background-url in $pages {
	    &.page-slug-#{$profile}  {
	        header#masthead{
				background: $consistent-background-masthead, $background-url no-repeat;
	        };
	    }
	}
}

.site-branding {
	.site-title a {
		background: url(https://israel.wordcamp.org/2016/files/2016/01/logo-custom-light.png) no-repeat;
		width: 400px;
		display: block;
		height: 70px;
		background-size: cover;
		@extend .wc-text-hide;
	}
	.site-description {
		color: #fff;
		float: left;
		margin-left: 9px;
	}
}

.main-navigation {
	a {
		color: #1a1a1a;
	}

	.primary-menu > li > a {
		color: #fff;
	}

	li:hover > a,
	.current-menu-item > a {
		background: rgba(216,104,114,0.8);
		color: #fff;
	}
}

ul#menu-main {
	background: rgba(89,176,204,0.79);
}

/* Sidebar */
aside#secondary {}
.sidebar {
	.widget {
		&.jetpack_subscription_widget {
			background: #EFEFEF;
		    padding: 1em;
		    border-top: 4px solid #C8C8C8;
		}
	}
}

/* Center all elements within */
.call-to-action-boxes {
	text-align: center;
}

.call-to-action-boxes .c2a-box {
	display: inline-block;
    min-width: 28%;
	padding: 0 1.665%;
	text-align: center;

	/* Just color the first one, as if it was featured. */
	&:first-child a {
		transition: all .4s ease;
		color: #F3DC45;
	    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);

		/* shine like a diamond! */
		&:hover {
			text-shadow: 10px 5px 40px rgb(255, 224, 1);
		}
	}

	a {
		display: inline-block;
		color: #fff;
		box-shadow: none;
		font-family: 'Open Sans Hebrew', sans-serif;

		&:hover {
			@extend .animated;
			@extend .pulse;
		}

		img {
			display: inline;
		}

		h3 {
			font-size: 2em;
			margin: 10px;
			font-weight: 100;
		}

		.icon {
			font-size: 80px;
		}
	}
}

section#text-3 {
	position: absolute;
	top: 342px;
	right: 0;
	width: 100%;
	min-height: 200px;
	background: rgba(89, 176, 204, 0.82);
	color: #fff;
	/* padding: 4.5455%; */
	padding: 35px 0px;
	border-top: 0;
	box-shadow: 0 2px 0 0 rgba(30,82,97,0.59), 0 3px 0 0 rgba(173,173,173,0.59);
}



/* [Page] Organizers Page */
.wcorg-organizers {
	.wcorg-organizer {
	    width: 45%;
	    float: right;
	    padding-left: 2.5%;

	    &:nth-child(odd) {
	    	clear: both;
	    }

	    .wcorg-organizer-description p {
	    	margin-top: 1.5em;
	    }
	}
}
