/* NOTE: THIS IS AN UNCOMPILED SASS FILE. */
/*
ברוך הבא ל-CSS מותאם אישית!

כדי ללמוד כיצד זה עובד, כדאי לבקר בכתובת
http://wp.me/PEmnE-Bt
*/

/* Main Variables */
$button-background-color: #59b0cc;
$button-background-color-hover: #2398BD;
$button-background-color-active: #027498;
$button-text-color: #fff;

@import "inc/fonts";
@import "inc/helpers";
@import "inc/ui";
@import "inc/animate";
@import "inc/forms";
@import "inc/specifics";

/* Main Styling */
.site-inner {
	max-width: 100%;
	position: relative;
}

.site-content {
	padding-top: 2em;
}

header#masthead {
	background: linear-gradient( rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6) ), url(https://israel.wordcamp.org/2016/files/2016/01/Artboard-2.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	height: 548px;
}

.site-branding {
	.site-title a {
		background: url(https://israel.wordcamp.org/2016/files/2016/01/logo-custom-light.png) no-repeat;
		width: 400px;
		display: block;
		height: 70px;
		background-size: cover;
		@extend .wc-text-hide;
	}
}

.main-navigation a {
	color: #fff;
}

ul#menu-main {
	background: #59b0cc;
}

aside#secondary {}

/* Center all elements within */
.call-to-action-boxes {
	text-align: center;
}

.call-to-action-boxes .c2a-box {
	display: inline-block;
    min-width: 28%;
	padding: 0 1.665%;
	text-align: center;

	a {
		display: inline-block;
		color: #fff;
		box-shadow: none;
		font-family: 'Open Sans Hebrew', sans-serif;

		&:hover {
			@extend .animated;
			@extend .pulse;
		}

		img {
			display: inline;
		}

		h3 {
			font-size: 2em;
			margin: 10px;
			font-weight: 100;
		}

		.icon {
			font-size: 80px;
		}
	}
}

body.home {
}

section#text-3 {
	position: absolute;
	top: 342px;
	right: 0;
	width: 100%;
	min-height: 200px;
	background: rgba(89, 176, 204, 0.82);
	color: #fff;
	/* padding: 4.5455%; */
	padding: 35px 0px;
	border-top: 0;
}



/* [Page] Organizers Page */
.wcorg-organizers {
	.wcorg-organizer {
	    width: 45%;
	    float: right;
	    padding-left: 2.5%;

	    &:nth-child(odd) {
	    	clear: both;
	    }

	    .wcorg-organizer-description p {
	    	margin-top: 1.5em;
	    }
	}
}
