/* NOTE: THIS IS AN UNCOMPILED SASS FILE. */
/*
ברוך הבא ל-CSS מותאם אישית!

כדי ללמוד כיצד זה עובד, כדאי לבקר בכתובת
http://wp.me/PEmnE-Bt
*/

@import "inc/fonts";
@import "inc/helpers";
@import "inc/animate";


/* Main Styling */
.site-inner {
	max-width: 100%;
}

.site-content {
	padding-top: 2em;
	position: relative;
}

header#masthead {
	background: linear-gradient( rgba(8, 1, 1, 0.45), rgba(255, 22, 84, 0.6) ), url(https://israel.wordcamp.org/2016/files/2016/01/Artboard-2.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 300px;
}

.site-branding {
}

.site-title a {
	background: url(https://israel.wordcamp.org/2016/files/2016/01/logo-custom-light.png) no-repeat;
	width: 400px;
	display: block;
	height: 70px;
	background-size: cover;
	@extend .wc-text-hide;
}


.main-navigation a {
	color: #fff;
}

ul#menu-main {
	background: #59b0cc;
}

aside#secondary {
	float: none;
	width: 100%;
	margin: 0;
}

/* Center all elements within */
.call-to-action-boxes {
	text-align: center;
}

.call-to-action-boxes .c2a-box {
	display: inline-block;
    min-width: 28%;
	padding: 0 1.665%;
	text-align: center;

	a {
		display: inline-block;
		color: #fff;
		box-shadow: none;
		font-family: 'Open Sans Hebrew', sans-serif;

		&:hover {
			@extend .animated;
			@extend .pulse;
		}

		img {
			display: inline;
		}

		h3 {
			font-size: 2em;
			margin: 10px;
			font-weight: 100;
		}
	}
}

body.home {
}

section#text-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-height: 300px;
	background: #59b0cc;
	color: #fff;
	padding: 4.5455%;
	border-top: 0;
	margin-top: -300px;
}
