a.button {
    display: block;
    text-align: center;
    padding: 0.5em 0;
    border: none;
    box-shadow: none;
    background: $button-background-color;
    color: #fff;
    text-shadow: 0 -1px 1px #3F8CB1,-1px 0 1px #006799,0 1px 1px #62B4DC,1px 0 1px #006799;
    box-shadow: 0 1px 0 #006799;
    font-size: 1.4em;
    transition: all 0.4s ease;
    border-radius: 3px;

    &.button-no-radius {
        border-radius: 0;
    }

    &:hover {
        background: $button-background-color-hover;
    }
    &:focus,
    &:active {
        background: $button-background-color-active;
        outline: none;
    }

    /* Waze Button */
    &.button-waze {
        &:before {
            content: '';
            width: 35px;
            height: 19px;
            background: url(https://israel.wordcamp.org/2016/files/2016/01/icon3.png);
            display: inline-block;
            background-size: contain;
            margin-left: 8px;
            position: relative;
            top: 3px;
            background-repeat: no-repeat;
        }
    }

    &.button-red {
        background: rgb(255, 22, 84);
        text-shadow: none;

        &:hover { background: rgb(233, 0, 62); }
        &:focus { background: rgb(171, 1, 46); }
    }
}




/* More buttons and inputs */
button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus {
    font-weight: 100;
    background: $button-background-color;

    &:hover {
        background: $button-background-color-hover;
    }
    &:focus {
        background: $button-background-color-active;
    }
}